{% extends "base.html" %}

{% block content %}

    <main>
        <div id="instructions">
            <h2>Instructions</h2>
            <p>Enter the given digits (1-9) into the grid. Use the TAB key to move between cells and hit the <em>Solve</em> button or <em>Enter</em> to get the solution.</p>
        </div>
        <div id="puzzle">
            <h2>Puzzle</h2>

            <form method="post" action="/solve">
                <table id="grid">
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)" autofocus></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                        <td><input type="text" name="field" maxlength="1" onkeypress="return checkInput(event)"></td>
                    </tr>
                </table>
                <input id="submitted-diag" type="checkbox" name="diag" value="yes" style="display: none;">
                <input id="solve-btn" type="submit" value="Solve">
            </form>
        </div>
        <div id="options">
            <h2>Options</h2>
            <form>
                <p>
                    <input id="diag-checkbox" type="checkbox" onchange="copyOption()"><span id="diag-label">include diagonals</span>
                </p>
            </form>
        </div>
    </main>

{% endblock %}
