{% extends "base.html" %}

{% block content %}

    <main>
        <div id="puzzle">
            <h2>Puzzle Solution</h2>

            <form method="" action="/">
                <table id="grid">
                    {% for row in render_puzzle_list %}
                        <tr>
                        {% for field in row %}
                            {% if field[1] == 'original' %}
                                <td><input type="text" name="field" maxlength="1" value={{ field[0] }} disabled style="color: #000"></td>
                            {% else %}
                                <td><input type="text" name="field" maxlength="1" value={{ field[0] }} disabled style="color: #01BC02"></td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <button id="solve-btn" type="submit">Solve another Puzzle</button>
            </form>
        </div>
    </main>

{% endblock %}
